# ignore ajit dynamically generated xfiles
*.hex
*.log
*.mmap
*.obj
*.vars
*.wtrace
*.elf
sparc-obj/

# C related
*.out
*.o

# python related
*.pyc
*.pyo
__pycache__/
venv/

# deb package
*.deb

# logs
*.log
logs/
spairo-logs

# pycharm
.idea/
